<span *ngIf="user">{{user.DisplayName}}</span>
<button *ngIf="hasAuthenticationData && !isAuthenticated" (click)="logIn()">LogIn</button>
<button *ngIf="hasAuthenticationData && isAuthenticated" (click)="logOut()">LogOut</button>
<a routerLink="../home" routerLinkActive="activeLink">Home</a>
<a routerLink="../other" routerLinkActive="activeLink">Other</a>
<a routerLink="../feature" routerLinkActive="activeLink">Feature</a>
<a routerLink="../private" routerLinkActive="activeLink">Private</a>
<br/>
<router-outlet></router-outlet>