<!--<router-outlet></router-outlet>-->
<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>

<p myHighlight="yellow">Highlighted in yellow</p>
<p [myHighlight]="'orange'">Highlighted in orange</p>
<p [myHighlight]="color">Highlighted with parent component's color</p>
<p myHighlight>Highlighted but unset</p>
<hr/>
<hero-detail></hero-detail>